= favicon_link_tag "favicons/apple-touch-icon.png", rel: "apple-touch-icon", sizes: "180x180"
= favicon_link_tag "favicons/favicon-32x32.png", rel: "icon", type: "image/png", sizes: "32x32"
= favicon_link_tag "favicons/favicon-16x16.png", rel: "icon", type: "image/png", sizes: "16x16"
= favicon_link_tag "favicons/manifest.json", rel: "manifest"
= favicon_link_tag "favicons/safari-pinned-tab.svg", rel: "mask-icon", color: "#5bbad5"
meta{name="msapplication-config" content=image_path("favicons/browserconfig.xml")}
meta{name="theme-color" content="#ffffff"}