$theme-colour: #608bd1;
$theme-highlight: #ff6501;
$theme-offwhite: #ddd;
$theme-offblack: #222;
$theme-grey: #555;

$danger-colour: #d22;
$notice-colour: #22d;
$ok-colour: #2d2;

$icon-grey: $theme-grey;
$icon-black: $theme-offblack;

$chris-blue: desaturate(blue, 50%);
$georgie-red: desaturate(red, 50%);
$bv-green: desaturate(green, 50%);
$guitar-black: $theme-grey;

@mixin singer-grads {
  &.chris {
    background-color: $chris-blue;
  }
  &.georgie {
    background-color: $georgie-red;
  }
  &.chris.georgie {
    background: linear-gradient(to right, $georgie-red, $georgie-red 20%, $chris-blue 80%, $chris-blue);
  }
}