/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "compass/reset";
@import "compass/css3/box-sizing";
@import "compass/utilities/general/clearfix";
@import "colours";
@import "sassybuttons";
@import "tablekit";

 * {
   @include box-sizing(border-box);
 }

html {
  line-height: 1.2;
  height: 100%;
}

body {
  height: 100%;
  background: image-url('thumbline.jpg') center 0 no-repeat, white;
  color: $theme-offwhite;

  display: flex;
  flex-flow: column;
}

.content {
  width: 100%;
  background: rgba($theme-colour, 0.95);
  padding: 5px 20px;
  flex: 1 0 auto;
}

#flash {
  width: 90%;
  margin: 5px 5%;
  flex: 0 1 auto;

  p {
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;

    &.alert {
      border-color: $danger-colour;
      color: black;
      background-color: lighten($danger-colour, 40%);
    }
    &.notice {
      border-color: $notice-colour;
      color: black;
      background-color: lighten($notice-colour, 40%);
    }
  }
}

nav.tabs {
  margin: -5px 0 1em -20px;

  .tab {
    display: inline-block;
    padding: 5px;
    border: 2px solid black;
    border-width: 0 2px 2px 0;
    &:first-child {
      padding-left: 20px;
    }

    color: $theme-offwhite;
    text-decoration: none;
    background-color: rgba(darken($theme-colour, 5%), 0.95);

    &.current {
      background-color: inherit;
      border-bottom-color: transparent;
    }

    &:not(.current):hover {
      background-color: $theme-highlight;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: Cambria, Georgia, serif;
}

h1 {
  font-size: 1.5em;
}

fieldset {
  border: 1px solid $theme-offwhite;
  border-radius: 5px;
  padding: 10px;
  padding-top: 0;
  margin: 5px 0;
}

button, input[type=button], input[type=submit], a.button {
  @include sassy-button;

  &.danger {
    @include sassy-button-gradient('matte', $danger-colour);
  }
}

em {
  font-style: italic;
}

thead {
  background-color: #222;
}
td, th {
  border: 1px solid black;
  padding: 1px 5px;
}