@import "colours";

.whole-context .content.blocking-form {
  height: auto;
  align-self: center;
  text-align: center;

  form {
    display: inline-block;
    text-align: left;
    min-width: 300px;
  }

  .sizer {
    display: inline-block;
  }

  .pull-left {
    text-align: left;
  }
}