// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colours';

#songs {
  margin-right: 3.5em;

  .anchor:before {
      display: block;
      content: " ";
      margin-top: -2.5em; // Set the Appropriate Height
      height: 2.5em; // Set the Appropriate Height
      visibility: hidden;
  }

  .song {
    max-width: 1000px;
  }
}

.song {
  display: flex;
  flex-flow: row wrap;
  border: 2px solid black;
  margin-bottom: 2em;
  font-family: Georgia, Times, 'Times New Roman', serif;

  > div {
    font-size: 1.3em;
  }
  .info {
    padding: 5px;
  }

  .info.title {
    flex: 0 0 100%;
    padding: 5px;
    font-size: 2em;
    background-color: white;
    color: $theme-offblack;
    border-bottom: 1px solid black;

    display: flex;
    flex-flow: row nowrap;

    .data {
      flex: 0 1 100%;
    }
    .actions {
      flex: 0 0 auto;
    }
  }

  .info-row {
    flex: 0 1 100%;
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid black;

    > div {
      flex: 0 1 100%;
    }
    div:not(:first-child) {
      border-left: 1px solid black;
    }
  }

  .singers {
    @include singer-grads;
  }

  .bv {
    background-color: $bv-green;
  }
  .guitar {
    background-color: $guitar-black;
  }

  .notes, .lyrics {
    flex: 0 1 100%;
    display: flex;
    flex-flow: row nowrap;

    .fieldname {
      flex: 0 0 auto;
    }

    .data {
      flex: 0 1 auto;
      margin-left: 5px;
    }
  }

  .lyrics {
    position: relative;
    z-index: 1;

    .data {
      white-space: pre;
      font-size: 0.8em;
      max-height: 6em;
      overflow: hidden;
    }

    .hack-label {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
    }

    .checkbox-hack:checked ~ .data {
      max-height: none;
    }
  }
}